// COLORS

$clr-flags-swe-blue: rgb(0, 85, 155);
$clr-flags-swe-yellow: rgb(255, 206, 0);

$clr-flags-uk-red: rgb(207, 20, 43);
$clr-flags-uk-blue: rgb(0, 36, 125);
$clr-flags-uk-white: rgb(255, 255, 255);

// SIZES

$size-flag-swe-unit: 2rem;
$size-flag-uk-unit: .7rem;