@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  color: mistyrose;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  overflow-x: hidden;
}

section {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#222));
  background: linear-gradient(#111, #222);
  width: 100%;
  min-height: 100vh;
}

.section__title {
  padding: 2rem;
  line-height: 1;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flag {
  margin: 5rem;
}

.sweden {
  background-color: #00559b;
  height: 20rem;
  width: 32rem;
  position: relative;
}

.sweden .cross {
  background-color: #ffce00;
  position: absolute;
}

.sweden .cross-hor {
  width: 100%;
  height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sweden .cross-ver {
  height: 100%;
  width: 4rem;
  left: 10rem;
}

.union-jack {
  background-color: #00247d;
  height: 21rem;
  width: 35rem;
  position: relative;
  overflow: hidden;
}

.union-jack .diagonal {
  background-color: white;
  width: 120%;
  height: 4.2rem;
  position: absolute;
}

.union-jack .diagonal .stripe {
  background-color: #cf142b;
  width: 21rem;
  height: 1.4rem;
  position: absolute;
}

.union-jack .tlbr {
  top: -2.1rem;
  left: 0;
  -webkit-transform: rotate(30.96deg);
          transform: rotate(30.96deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.union-jack .tlbr .stripe1 {
  top: 50%;
  left: 0;
}

.union-jack .tlbr .stripe2 {
  bottom: 50%;
  right: 0;
}

.union-jack .trbl {
  bottom: -2.1rem;
  left: 0;
  -webkit-transform: rotate(-30.96deg);
          transform: rotate(-30.96deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.union-jack .trbl .stripe1 {
  top: 50%;
  left: 0;
}

.union-jack .trbl .stripe2 {
  bottom: 50%;
  right: 0;
}

.union-jack .cross {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.union-jack .white-cross {
  background-color: white;
  -webkit-clip-path: polygon(40% 0, 60% 0, 60% 33%, 100% 33%, 100% 66%, 60% 66%, 60% 100%, 40% 100%, 40% 66%, 0 66%, 0 33%, 40% 33%);
          clip-path: polygon(40% 0, 60% 0, 60% 33%, 100% 33%, 100% 66%, 60% 66%, 60% 100%, 40% 100%, 40% 66%, 0 66%, 0 33%, 40% 33%);
}

.union-jack .red-cross {
  background-color: #cf142b;
  -webkit-clip-path: polygon(44% 0, 56% 0, 56% 40%, 100% 40%, 100% 60%, 56% 60%, 56% 100%, 44% 100%, 44% 60%, 0 60%, 0 40%, 44% 40%);
          clip-path: polygon(44% 0, 56% 0, 56% 40%, 100% 40%, 100% 60%, 56% 60%, 56% 100%, 44% 100%, 44% 60%, 0 60%, 0 40%, 44% 40%);
}

.heart__shape {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.heart__container {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.heart .part {
  background-color: salmon;
  --size: 15rem;
  width: var(--size);
  height: var(--size);
}

.heart .circle {
  border-radius: 50%;
}

.heart .circle:first-of-type {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.heart .circle:last-of-type {
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
}
/*# sourceMappingURL=main.css.map */